/* VARIABLES */
:root {
    --primary-color: #66bb6a;
}

/********************************/
/* BASE */
/********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1;
}

/********************************/
/* HERO */
/********************************/
.hero {
    background: linear-gradient(rgba(45, 45, 45, 0.5), rgba(45, 45, 45, .5)), url("../images/hero-image.jpg") no-repeat center center/cover;
    padding: 26.8rem 0;
}

.hero__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.hero__description {
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.8;
    text-align: center;
}

.meal-of-the-day {
    color: #333;
    padding: 4.8rem 0;
}

.meal-of-the-day .meal {
    max-width: 40rem;
    width: 90%;
}

.meal-of-the-day .meal__tag {
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 100px;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .4rem .8rem;

    margin-bottom: 2.4rem;
}

/********************************/
/* MEALS page */
/********************************/
.meals {
    /* max-width: 1300px;
    width: 90%; */
    padding: 4.8rem 0;
}

.meals__gallery {
    gap: 6.4rem;
}

.tabs {
    max-width: 76.8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 1.2rem;

    margin-bottom: 6.4rem;
}

.tab-link {
    background-color: #f0f8f0;
    border: none;
    border: 1px solid #529655;
    color: #529655;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: inherit;
    padding: 1.2rem 2.4rem;
    transition: all .3s;
}

.tab-link:hover {
    background-color: #529655;
    color: #f0f8f0;
}

.tab-link-full {
    background-color: #529655;
    color: #f0f8f0;
    font-weight: 600;
}

/* Modal */
.modal {
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    pointer-events: none;
    opacity: 0;
    overflow: auto;

    transition: opacity .3s ease;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal__content {
    /* max-width: 600px;
    width: 90%; */
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    width: 60rem;
    max-width: 100%;
    margin-top: 300px;
    color: #333;
}

#modal__data {
    padding: 32px;
}

.close {
    position: absolute;
    top: 12px;
    right: 24px;

    cursor: pointer;
    color: #f0f8f0;
    font-size: 3.2rem;
}

#modal__img {
    max-width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

#modal__title {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize;

    margin-bottom: 2.4rem;
}

#modal__nutri-info {
    font-size: 1.8rem;
    line-height: 1.8;

    margin-bottom: 1.2rem;
}

#modal__description {
    font-size: 1.8rem;
    line-height: 1.8;
}

#more-info {
    padding: 3.2rem;
}

#modal__ingredients,
#modal__instructions {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-left: 4.8rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;

    margin-bottom: 2.4rem;
}

.collapse {
    display: none;
}

.collapse.display {
    display: block;
}

#view-more-button,
#view-less-button {
    display: block;
    border: none;
    background-color: #529655;
    border-radius: 50px;
    color: #f0f8f0;
    cursor: pointer;
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 1.2rem 3rem;

    margin-bottom: 2.4rem;
}

/********************************/
/* FOOTER */
/********************************/
.footer {
    background-color: #eee;
    color: #555;
    font-size: 1.6rem;
    text-align: center;
    padding: 3.2rem;
}

/********************************/
/* For Contact Us Page - JT 5/18/2025 */
/********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bg {
    background: url("../images/contact_bg_img.jpg") center center/cover;

}

.content h2 {
    color: #f0f8f0;
    font-size: 65px;
    text-align: center;
    margin: 0;
    padding-top: 100px;
}

.content h3 {
    color: #f0f8f0;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    padding-top: 15px;
}

.containerCI {
    color: #f0f8f0;
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-top: 80px;
}

.textboxPositioning {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contactInfo h3 {
    font-size: 30px;
}

.contactInfo P { 
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
}

.textBoxStyled {
    width: 350px;
    height: 4.5em;
    right: 0;
    position: relative;
}

.form__input {
    height: 100%;
    width: 100%;
    right: 0;
    background: #121212;
    border: 2px solid #fff;
    border-radius: 0.5em;
    outline: none;
    color: #fff;
    padding-left: 1em;
}

label {
    position: absolute;
    background: #121212;
    color: #fff;
    font-family: sans-serif;
    left: 1em;
    top: 0.75em;
    cursor: text;
    transition: top 350ms ease-in, font-size 350ms ease-in;
}

.form__input:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.form__input:focus {
    border: 2px solid #00ffff;
}

input[type="text"]:focus~label,
.form__input:not(:placeholder-shown).form__input:not(:focus)~label {
    top: -0.5em;
    font-size: 0.75rem;
    padding: 0 0.125em;
}