/* VARIABLES */
:root {
    --primary-color: #47834a;
}

/********************************/
/* BASE */
/********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #dae6db;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1;
}

/* STICKY NAVIGATION */
/* .sticky { */
    /* position: fixed; */
    /* top: 0; */
    /* bottom: 0; */
    /* width: 100%; */
    /* height: 8rem; */
    /* padding-top: 0; */
    /* padding-bottom: 0; */
    /* z-index: 1000; */
    /* box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, .1); */
/* } */

/********************************/
/* HERO */
/********************************/
.hero {
    background: linear-gradient(rgba(45, 45, 45, 0.5), rgba(45, 45, 45, .5)), url("../images/hero-image.jpg") no-repeat center center/cover;
    padding: 26.8rem 0;
}

.hero__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.hero__description {
    color: #edf3ed;
    font-size: 1.8rem;
    line-height: 1.8;
    text-align: center;
}

.meal__left,
.meal__right {
    transform: scale(.875);
}
.meal__left:hover,
.meal__right:hover {
    transform: scale(.9375) !important;
}
.meal-of-the-day {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
    color: #333;
    padding: 8rem 0;
}
.meal-of-the-day .grid {
    gap: 1.2rem;
}
.meal-of-the-day .meal {
    text-decoration: none;
}
.meal-of-the-day .meal {
    max-width: 60rem;
}
.meal-of-the-day .meal__tag {
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 100px;
    color: #edf3ed;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .4rem .8rem;

    margin-bottom: 2.4rem;
}

/********************************/
/* MEALS page */
/********************************/
.meals {
    padding: 8rem 0;
}

.meals__gallery {
    width: 90%;
    gap: 6.4rem;
}

.tabs {
    max-width: 76.8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 1.2rem;

    margin-bottom: 6.4rem;
}

.tab-link {
    background-color: #edf3ed;
    border: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: inherit;
    padding: 1.2rem 2.4rem;
    transition: all .3s;
}

.tab-link:hover {
    background-color: var(--primary-color);
    color: #edf3ed;
}

.tab-link-full {
    background-color: var(--primary-color);
    color: #edf3ed;
    font-weight: 600;
}

/* Modal */
.modal {
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;

    pointer-events: none;
    opacity: 0;
    overflow: auto;

    transition: opacity .3s ease;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal__content {
    position: relative;
    background-color: #edf3ed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    max-width: 60rem;
    max-height: 90vh;
    width: 90%;
    overflow-y: auto;

    color: #333;

}

#modal__data {
    padding: 32px;
}

.close {
    position: absolute;
    top: 12px;
    right: 24px;

    cursor: pointer;
    color: #edf3ed;
    font-size: 3.2rem;
}

#modal__img {
    max-width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

#modal__title {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize;

    margin-bottom: 2.4rem;
}

#modal__nutri-info {
    font-size: 1.8rem;
    line-height: 1.8;

    margin-bottom: 1.2rem;
}

#modal__description {
    font-size: 1.8rem;
    line-height: 1.8;
}

#more-info {
    padding: 3.2rem;
}

#modal__ingredients,
#modal__instructions {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-left: 4.8rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;

    margin-bottom: 2.4rem;
}

.collapse {
    display: none;
}

.collapse.display {
    display: block;
}

#view-more-button,
#view-less-button {
    display: block;
    border: none;
    background-color: var(--primary-color);
    border-radius: 50px;
    color: #edf3ed;
    cursor: pointer;
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 1.2rem 3rem;
    transition: all .3s;

    margin-bottom: 2.4rem;
}
#view-more-button:hover,
#view-less-button:hover {
    background-color: #407643;
}

/********************************/
/* FOOTER */
/********************************/
.footer {
    padding: 2.4rem 0 6.4em;
    border-top: 1px solid #eee;
    background-color: #edf3ed;
    color: #767676;
}
.footer__container {
    max-width: 130rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.footer__logo {
    filter: brightness(0);
    opacity: 60%;
}
.contacts {
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.6;

    margin-bottom: 4.8rem;
}
.copyright {
    font-size: 1.4rem;
    text-align: center;
}
.footer__link:link,
.footer__link:visited {
    color: #767676;
    text-decoration: none;
    transition: all .3s;
}
.footer__link:hover,
.footer__link:active {
    color: var(--primary-color);
    text-decoration: none;
}

/********************************/
/* For Contact Us Page - JT 5/18/2025 */
/********************************/
.contact-page {
    padding: 19.2rem 0;
}
.contact-page__container {
    /* max-width: 60rem; */
    /* margin: 0 auto; */
}

.containerCI {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textboxPositioning {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.textBoxStyled {
    /* width: 35rem; */
    /* height: 4.5rem; */
    width: 70rem;
    height: 7.5rem;
    position: relative;
}

.button-submit {
    border: none;
    background-color: var(--primary-color);
    color: #edf3ed;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.8rem;
    font-family: inherit;
    padding: 1rem 2.4rem;
    margin: 0 auto;

    transition: all .3s;
}
.button-submit:hover {
    background-color: #407643;
}

.form__input {
    height: 100%;
    width: 100%;
    right: 0;
    background: #edf3ed;
    border: none;
    border-radius: 0.5em;
    outline: none;
    color: #333;
    font-family: inherit;
    padding-left: 1em;

    font-size: 1.8rem;
}
label {
    position: absolute;
    background: #edf3ed;
    color: #777;
    font-family: inherit;
    left: 1em;
    top: 0.75em;
    cursor: text;
    transition: top 350ms ease-in, font-size 500ms ease-in;

    font-size: 1.8rem;
}

.form__input:focus {
    border: 2px solid var(--primary-color);
}
input[type="text"]:focus~label,
input[type="email"]:focus~label,
.form__input:not(:placeholder-shown).form__input:not(:focus)~label {
    top: -0.5em;
    font-size: 1.6rem;
    padding: 0 0.125em;
}
