/* VARIABLES */
:root {
    --primary-color: #284c34;
}

/********************************/
/* BASE */
/********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #555;
}


/********************************/
/* NAVIGATION */
/********************************/
.header {
    height: 8.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9.6rem;
}

/* Temp */
.header a {
    text-decoration: none;
    color: #555;
}
.header .logo {
    font-size: 2.4rem;
}

.nav__list {
    display: flex;
    gap: 2.4rem;
    list-style: none;
    font-size: 1.6rem;
}
.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    transition: all .3s;
}
.nav__link:hover {
    color: var(--primary-color);
}

/********************************/
/* HOME */
/********************************/
.home {
    background-image: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-position: 34% 36%;
    padding: 20.8rem 0;
}
.home__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}
.home__description {
    width: 50rem;
    font-size: 1.8rem;
    line-height: 1.8;
    text-align: center;
}

/********************************/
/* FEATURED IN */
/********************************/
.featured {
    background-color: #eaedeb;
    padding: 4.8rem 0 9.6rem;
}
.featured__heading {
    color: #888; /* temp */
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 2.4rem;
}
.logos {
    display: flex;
    justify-content: center;
    gap: 6.4rem;
}
.logos img {
    height: 2.4rem;
    filter: brightness(0);
    opacity: .5;
}

/********************************/
/* HOW IT WORKS */
/********************************/
.how {
    background-color: #eaedeb; /* temp */
    padding: 0 0 9.6rem;
}
.step-number {
    color: #aaa;
    font-size: 9.6rem;
    font-weight: 600;

    margin-bottom: 1.2rem;
}
.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

/* Temp */
.step-image-container {
    background-color: green;
    height: 500px;
    width: 500px;

    margin: 0 auto;
}

/********************************/
/* MEALS */
/********************************/
.meals {
    background-color: #d4dbd6; /* temp */
    padding: 4.8rem 0 9.6rem;
}
.card-wrapper {
    margin: 0 6.4rem 4.8rem;
    overflow: hidden;
}

/* Override arrow buttons and pagination color */
.swiper-button-next,
.swiper-button-prev {
    color: var(--primary-color) !important;
}
.swiper-pagination-bullet {
    background-color: var(--primary-color) !important;
}

.meal {
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, .075); */
    list-style: none;
    overflow: hidden;
}
.meal:active {
    cursor: grabbing;
}
.meal__image {
    max-width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}
.meal__content {
    padding: 1.2rem 3.2rem 3.2rem;
}
.meal__tag {
    display: inline-block;
    border-radius: 100px;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .4rem .8rem;

    margin-bottom: 2.4rem;
}
.meal__tag-paleo {
    background-color: #51cf66;
}
.meal__name {
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    
    margin-bottom: 3.2rem;
}
.meal__attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.meal__attribute {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.meal__icon {
    height: 2.4rem;
    width: 2.4rem;
    color: var(--primary-color);
}

/********************************/
/* PRICING */
/********************************/
.pricing {
    background-color: #eaedeb;
    padding: 4.8rem 0 9.6rem;
}
.tabs {
    display: flex;
    justify-content: center;

    margin-bottom: 2.4rem;
}
.tabs button {
    border: none;
    border: 1px solid var(--primary-color); /* temp */
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1rem 2rem;
}
.tabs__monthly {
    background-color: var(--primary-color); /* temp */
    color: #fff; /* temp */
    font-weight: 600;
}
.tabs__annual {
    background-color: #fff; /* temp */
    color: var(--primary-color); /* temp */
}
.pricing__plan {
    width: 75%;
    border: 1px solid var(--primary-color); /* temp */
    border-radius: 15px;
    padding: 3.2rem;
}
.pricing__plan-starter {
    justify-self: end;
}
.pricing__plan-complete {
    justify-self: start;
}
.plan-header {
    text-align: center;

    margin-bottom: 4.8rem;
}
.plan-name {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .75;
    text-transform: uppercase;

    margin-bottom: 3.2rem;
}
.plan-price {
    font-size: 6.4rem;
    font-weight: 600;

    margin-bottom: 2.4rem;
}
.plan-price span {
    font-size: 3.2rem;
    font-weight: 600;
}
.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
}
.list {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    margin-bottom: 8rem;
}
.list__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    font-size: 1.8rem;
}
.list__icon {
    height: 2.4rem;
    width: 2.4rem;
    color: var(--primary-color);
}
.sign-up {
    text-align: center;
}